*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
}

body * {
  font-family: "Nunito", sans-serif;
}

body {
  height: 100vh;
  background: #fffcfc;
}


.header-topo {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(to left, #8B4CFF, #04D291);
  color: white;
  display: flex;
  align-items: center;
  padding-left: 100px;
  gap: 16px;
  font-family: "Poppins", sans-serif;
  z-index: 998;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.header-topo span {
  font-size: 36px;
}

.header-topo h1 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 120px;
  height: 100vh;
}

.mensagem {
  text-align: center;
  color: #838383;
  margin-top: 50px;
}

.cards {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card {
  position: relative;
  width: 250px;
  height: 200px;
  background: #e6e6e6;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
  background-color: #04D291;
}

.card-icon {
  font-size: 70px;
  margin-bottom: 5px;
  color: #04D291;
}

.card:hover .card-icon {
  color: #ffffff;
}

.card-text {
  font-size: 14px;
  text-align: center;
  color: #333;
}

.card:hover .card-text {
  font-size: 18px;
  color: #ffffff;
}

.card-editar {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 15%;
  padding: 2px;
  font-size: 15px;
  cursor: pointer;
  z-index: 1;
  color: #838383;
  transition: background-color 0.2s;
}

.card-editar:hover {
  background-color: #ffffff;
  border-radius: 20px;
  color: #8B4CFF;
  transform: scale(1.2);
}

/* SIDEBAR DISPOSITIVOS */
.sidebar {
  position: fixed;
  top: 0;
  right: -400px;
  /* fora da tela */
  width: 350px;
  height: 100%;
  background: #fff;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease;
  padding: 16px;
  overflow-y: auto;
  z-index: 1000;
}

.sidebar.ativa {
  right: 0;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

/* CARDS DISPOSITIVOS */
.device-card {
  width: 320px;
  height: 100px;
  padding: 16px 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: flex-start;
  transition: transform 0.2s, box-shadow 0.2s;
}

.device-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

/* TEXTO NOME E TIPO */
.device-card .device-nome {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 4px;
}

.device-card .device-tipo {
  font-size: 14px;
  color: #666;
}

/* AÇÕES */
.device-actions {
  display: flex;
  align-items: center;
  gap: 10px;           
}

.btn-toggle {
  padding: 6px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #8B4CFF;
  color: #fff;
}

.btn-toggle:hover {
  background: #6a33cc;
}

.btn-delete {
  padding: 6px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #ffeded;
  color: #b30000;
  line-height: 1;     
}

.btn-delete:hover {
  filter: brightness(0.9);
}

/* Botão Dispositivos */
.switch {
  margin: 0;           
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 28px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: #4caf50;
}

input:checked+.slider:before {
  transform: translateX(22px);
}


/* MODAL */
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 30px 60px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 300px;
  position: relative;
}

.close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #000;
}

input {
  display: block;
  margin-bottom: 10px;
  margin-top: 20px;
  padding: 8px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 8px 12px;
  margin-top: 30px;
  background: #04d291;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.9s ease;
}

button:hover {
  background: #64d6b2;
  transform: scale(1.1);

}

/* SEÇÃO CÔMODOS */
#comodo-container h2 {
  margin-bottom: 12px;
  /* espaço entre título e select */
  font-size: 18px;
  color: #333;
}

#comodo-container select {
  margin-bottom: 20px;
  /* espaço abaixo do select antes da lista de dispositivos */
}

/* SEÇÃO DISPOSITIVOS */
#dispositivos-container h2 {
  margin-bottom: 12px;
  /* título "Dispositivos" e os cards */
  font-size: 18px;
  color: #333;
}

/* CENAS */
#cenas-container {
  margin: 20px;

}

#lista-cenas.cards .card {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 12px 16px;
  align-items: center;
  padding: 16px;
  background-color: #E6E6E6;
  border-radius: 8px;
  cursor: pointer;
  width: auto;
  height: auto;
  min-width: 60px;
  gap: 12px;
  transition: transform 0.2s;
}

.cena-card span {
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
}

/* Botão Executar Cena */
.btn-cena {
  position: relative;
  padding: 6px 10px;
  background: #04d291;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin: 0;
  align-self: center;
  transition: background-color 0.3s ease;
  z-index: 1;
}

.btn-cena:hover {
  background-color: #64d6b2;
}

.btn-cena:hover::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background: rgba(12, 224, 161, 0.5);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: sonar 1.2s ease-out infinite;
  pointer-events: none;
  z-index: 0;;
}

@keyframes sonar {
  0% {
    width: 10px;
    height: 10px;
    opacity: 0.6;
  }
  100% {
    width: 120px;
    height: 120px;
    opacity: 0;
  }
}

#modal-cena {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}

#modal-cena .modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 400px;
  max-height: 90%;
  overflow-y: auto;
}

/* Container do switch */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

/* Esconde o checkbox real */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  pointer-events: none; /* garante que não seja clicável */
}

/* Slider que aparece */
.slider {
  position: absolute;
  cursor: default; /* não mostra cursor de pointer */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 25px;
}

/* Bolinha do toggle */
.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* Estado ligado */
input:checked + .slider {
  background-color: #4CAF50;
}

/* Move a bolinha quando ligado */
input:checked + .slider:before {
  transform: translateX(24px);
}

/* Desabilitado - estilo visual */
input:disabled + .slider {
  opacity: 0.7;
}